body{
    /*
    border: 3px;*/
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pics{

    display: flex;
    justify-content: space-around;

}

.sec-part{
    padding: 0% 20%;
}



.image1, .image2, .image3, .image4{
    padding: 6px;
    margin: 10px;
    

}

div.pics img {
    border: 2px solid rgb(3, 247, 255);
    border-radius: 1em;
}

.top-part {
    display: flex;
    border: 5px;
    margin: 1px;
}

.header {

    display: flex;
    align-items: center;
    border: 0px;
    margin: 3px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0% 20%;
    color: white;
}

.top-part {
    border: 0px;
    color: white;
    background-color: #1F2937;
    padding: 0% 20%;
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top: 50px;

}


.footer{
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: #1F2937;
    text-align: center;
    }

.quotation {
    background-color: #E5e7eb;
    font-size: 36px;
    font-style: light italic;
    border: 5px;
    padding: 0% 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;

}

.logo {
    margin-right: auto;
}

.header {
    background-color: #1F2937;
    
}

.last-part {
    display: flex;
    align-items: center;
    background-color: rgb(3, 217, 245);
    margin: 25px;
    padding: 5% 10% 5% 10%;
    height: 30px;
    border-radius: 1em;
    
}

.last h1{
    font-size: 20px;
}
.last {
    color: white;
    margin-right: auto;
    border-radius: 1em;
    
}

.first h1 {
    font-size: 48px;
    font-weight: bold;
}

#sign {
    background-color: rgb(5, 218, 255);
    padding: 6px 12px;
    border-radius: 1em;
}


.sign-up{
    color: white;
    text-align: center;
    margin: 5px;
    padding: 8px 12px;
    border: 2px solid;
    border-color: white;
    font-size: 15px;
    border-radius: 1em;

}

.almost{
    padding: 0% 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header a{
    margin: 0px 10px;
}

.sec-part h1 {
    text-align: center;
}

.quotation footer{
    text-align: right;
    font-weight: bold;
}

#f-image img{
    float: left;
    padding-left: 20px;
}